---
import {
  PUBLIC_RSVP_LINK,
  PUBLIC_HOTEL_URL,
  PUBLIC_PINTEREST_LINK,
} from "astro:env/client";

import stampImg from "@/assets/images/stamp.png";

import barnImg from "@/assets/images/kingscote.jpg";
import lodgingImg from "@/assets/images/accom.jpg";
import attireImg from "@/assets/images/party.jpg";

import DetailsCard from "@/components/details-card/index.astro";
---

<div id="details-section" class="relative w-full overflow-visible">
  <div class="relative w-full h-8">
    <button
      class="absolute z-10 -top-4 left-1/2 -translate-x-1/2 px-8 pt-16 pb-6 sm:px-10 sm:pt-18 sm:pb-6 aspect-square cursor-pointer bg-center bg-contain bg-no-repeat bg-origin-border text-ivory-light font-(family-name:--font-cormorant) text-[1.6rem] sm:text-3xl font-semibold drop-shadow-mauve-900 drop-shadow-md hover:drop-shadow-mauve-950 hover:-translate-y-0.5 active:translate-y-0.5 transition-all duration-400"
      style={{ backgroundImage: `url(${stampImg.src})` }}
      onclick={`window.open("${PUBLIC_RSVP_LINK}", "_blank")`}
    >
      RSVP
    </button>
  </div>

  <div id="details-content-container" class="relative w-full">
    <div
      id="details-content"
      class="p-4 pt-28 sm:pt-36 pb-24 bg-crimson w-[900vw] sm:w-[300vw] translate-x-[-400svw] sm:translate-x-[-33.45%] flex flex-col items-center justify-start gap-2.5"
    >
      <h1 class="text-6xl font-(family-name:--font-boston) text-ivory">
        Details
      </h1>
      <p
        class="text-center text-ivory px-8 sm:px-0 w-screen sm:w-120 text-pretty text-lg"
      >
        We hope you're as excited as we are for our wedding! Below we've
        collated all the important details about the big day, to help you plan
        your trip and make the most of your time with us.
      </p>

      <DetailsCard
        title="The Venue"
        description="Kingscote Barn, Tetbury, Gloucestershire"
        buttonText="Learn More"
        buttonLink="https://kingscotebarn.co.uk/guest-guide/"
        img={barnImg}
      />

      <DetailsCard
        title="Where to Stay"
        description="Lodging recommendations nearby to the barn"
        buttonText="See Suggestions"
        buttonLink={PUBLIC_HOTEL_URL}
        img={lodgingImg}
      />

      <DetailsCard
        title="What to Wear"
        description="Check out some style inspiration for the big day"
        buttonText="Let's Go"
        buttonLink={PUBLIC_PINTEREST_LINK}
        img={attireImg}
      />
    </div>
  </div>
</div>

<style>
  #details-content-container {
    overflow-x: hidden;
  }

  #details-content {
    border-radius: 100%;
    /* transform: translateX(-33%); */
  }
</style>
